:root {
  --changeWidth: 160px;
}
body {
  background: linear-gradient(pink, orange);
  font-family: Arial, Helvetica, sans-serif;
}
textarea {
  font-size: 30px;
  resize: none;
  width: var(--changeWidth);
}
textarea:hover {
  color: blue;
  background-color: orange;
}
.lenny_face_button {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  margin: 4px;
  white-space: nowrap;
  font-family: arial;
}
#mainDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
